:root {
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
}

body {
    background-color: rgb(0, 0, 0);
    color: yellow;
    font-size: 2rem;
}

.head {
    display: inline-block;
    padding-left: 3rem;
    position: relative;
}

h1 {
    padding: 0;
    margin: 0;
}

#part1 {
    animation: changeToYellow .25s;
    color: yellow;
}

#part2 {
    animation: changeToBlack .25s;
    color: black;
}
.slider {
    background-color: yellow;
    margin-left: 42%;
    width: 50%;
    height: 100%;
    position: absolute;
    animation: sliderOverOut .25s none;
    z-index: -1;
}

.head:hover > .slider {
    animation: sliderOverIn .25s both
}
.head:hover #part1 {
    animation: changeToBlack .25s;
    color: black;
}

.head:hover #part2 {
    animation: changeToYellow .25s;
    color: yellow;
}

@keyframes sliderOverIn {
    from {margin-left: 42%; witdh: 50%;}
    to {margin-left: -1%; width: 40%;}
}

@keyframes sliderOverOut {
    from {margin-left: -1%; width: 40%;}
    to {margin-left: 42%; witdh: 50%;}
}

@keyframes changeToYellow {
    from {color: black}
    to {color: yellow}
}

@keyframes changeToBlack {
    from {color: yellow}
    to {color: black}
    
}